{% extends "UCLAwiki/layout.html" %}

{% block display %}
<div class="d-flex flex-column align-items-center col-10">
    <h1> UCLA Wiki</h1>

    <form action="" id="in-searchbox"
        class="w-100 d-flex align-items-center justify-content-center p-3" method = "post">
        {% csrf_token %}
        <input type="text" id="in-searchbar" name="search" class="rounded-pill w-50 p-2 m-3">
        <input type="submit" value="Search" class="p-2">
    </form>

    <form action="{% url 'random' %}" id="in-searchbox"
        class="d-flex flex-column align-items-center justify-content-center">
        <input type="submit" value="Random Search" class="p-2">
    </form>
    <h1> {{name}}</h1>
</div>
{% endblock %}